# Python for beginners

## Section (1): Print statement

In [ ]:
# Print a message
print('Hello, world!')

# Check datatype
print(type('Hello, world!'))

In [ ]:
# Print multiple values of different types
ndays = 365
print('There are', ndays, 'in a year!')

# Check datatypes
print(type(ndays))

In [ ]:
# Asking the user for an input
name = input('What is your name?\n')

In [ ]:
age = int(input('Enter your age:\n'))

## Section (2): Comments in Python

### Single-line comment

In [ ]:
# Single-line comment
a = 100
b = 50 # This is an in-line comment

Both lines above are bad practice for coding because they don't explain the reasoning behind the variable assignment.

What do ``a`` and ``b`` mean?

In [ ]:
# Better code
# This basket has 20 appples and 70 bananas.
apple_count = 20
banana_count = 70

print(apple_count)
print(banana_count)

### Multiline comments

In [ ]:
# Multiline comment
# This is a comment
# written in
# more than just one line

In [ ]:
"""
This is a comment
written in
more than just one line
"""

## String manipulations

In [ ]:
# Example strings:

country = 'united kingdom'
city = "london"
book_name = '''lord of the rings'''
postcode = 'se8 4ln'

In [ ]:
type(postcode)

In [ ]:
# Join different strings
city + ' ' + country

In [ ]:
# Mutiply strings by integers
'Please wait...'*3

In [ ]:
# Check the length of the string
len('Please wait...')

In [ ]:
# Convert string into integers
# type string
num_in_str = '100'
print(f'{num_in_str} has type {type(num_in_str)}.')

# type integer
num_int = int(num_in_str)
print(f'{num_int} has type {type(num_int)}.')

### String methods

In [ ]:
country = 'united kingdom'
city = "london"
book_name = '''lord of the rings'''
postcode = 'se8 4ln'


# converts the first character of each word to upper case
print(book_name.title())

# converts first character to upper case and the rest to lowercase.
print(city.capitalize())

# convers all characters to uppercase
print(postcode.upper())

# replace characters in a given string
print(book_name.replace('rings','flies'))

# deletes characters from the string
print(country.replace('united ',''))

### String formatting

In [ ]:
print('The new student class 6A is Kevin.')
print('The student is 25 years old.')
print('*'*50)

print('The new student in class 6A is Megan.')
print('The student is 18 years old.')
print('*'*50)

print('The new student in class 6A is Timothy.')
print('The student is 21 years old.')
print('*'*50)

Instead of repeating the print statement multiple times, we can create a variable template and update the variable each time.

In [ ]:
# Method 1: Use %
# Student number-1
student_name = 'Kevin'
student_age = '25'

# Method 1: use %s to create placeholder at specified location within the string
# Use %variable_name at the end of the string
print('String formatting with method 1:')
print('The new student in class 6A is %s.' %student_name)
print('The student is %s years old.' %student_age)
print('*'*50)

# Method 2: Use {} to create a placeholder at specific location within the string
# At the end of each string, use .format(variable name)
print('String formatting with method 2:')
print('The new student in class 6A is {}.'.format(student_name))
print('The student is {} years old.'.format(student_age))
print('*'*50)

# Method 3: Use f-string to create a placeholder directly
# Start each string with the letter f
print('String formatting with method 3:')
print(f'The new student in class 6A is {student_name}.')
print(f'The student is {student_age} years old.')
print('*'*50)

## Exercise 1: Create a simple user profile considering

* Name
* Age
* School/company's name
* Home address
* Email address

### String comparisons

* String comparisons are case-sensitive, try to change the message and check the output again.

In [ ]:
message = 'hello'

# Compare two strings

if message == 'hello':
    print('How are you?')
else:
    print('String does not match!')

In [ ]:
# Is a character in the message?

'o' in message

In [ ]:
# Is this substring in this string?

'llo' in message

## Numbers and numeric operations

In [1]:
# To create an integer:
integer_one = 10
print(f'{integer_one} has type {type(integer_one)}')


# or use the int callable:
integer_two = int(-10)
print(f'{integer_two} has type {type(integer_two)}')

10 has type <class 'int'>
-10 has type <class 'int'>

In [2]:
# To create a float
float_num = 3.0
print(float_num)

# To convert integer to float
# use the float callable
float_converted = float(integer_one)
print(float_converted)
print(type(float_converted))

3.0
10.0
<class 'float'>

In [3]:
x = 10
y = 3

print(f'The floored quotient of x and y is {x // y}')
print(f'The remainder of x and y is {x % y}')
print(f'The divmod of x and y is {divmod(x, y)}')

The floored quotient of x and y is 3
The remainder of x and y is 1
The divmod of x and y is (3, 1)

## Exercise 2: Create a simple currency conversion calculator

To convert MYR to

* GBP
* EUR
* USD
* Japanese Yen