# Data structures: Set

## Set characteristics

In [1]:
# creates a set with curly bracket
set_of_nums = {10, 20, 30}
print(set_of_nums)

# type int converted to type set
print(type(set_of_nums))
print('*'*50)

# set of names
names = {'jeff', 'tom', 'grace', 'joyce', 'tan', 'yi'}
print(names)

# type string converted to type set
print(type(names))
print('*'*50)

# heterogeneous set is possible
mixed_set = {100, -200.5, 'jeff'}
print(mixed_set)

mixed_type = {type(100), type(-200.5), type('jeff')}
print(mixed_type)
print(type(mixed_set))

{10, 20, 30}
<class 'set'>
**************************************************
{'tom', 'jeff', 'joyce', 'yi', 'tan', 'grace'}
<class 'set'>
**************************************************
{-200.5, 100, 'jeff'}
{<class 'int'>, <class 'float'>, <class 'str'>}
<class 'set'>

## Add or remove element from a set

In [2]:
# Add new participant to the set of names
names.add('vincent')
print(names)

new_names = {'peter', 'winnie', 'william'}
names.update(new_names)
print(names)

{'vincent', 'tom', 'jeff', 'joyce', 'yi', 'tan', 'grace'}
{'peter', 'winnie', 'yi', 'vincent', 'grace', 'william', 'tom', 'jeff', 'joyce', 'tan'}

In [3]:
# Try adding a duplicated name
names.add('jeff')
print(names)

dup_names = {'jeff', 'jeff', 'jeff', 'jeffrey'}
print(dup_names)

{'peter', 'winnie', 'yi', 'vincent', 'grace', 'william', 'tom', 'jeff', 'joyce', 'tan'}
{'jeffrey', 'jeff'}

In [4]:
# Compare to list
# a list can contain duplicated elements
dup_list = ['jeff', 'jeff', 'jeff', 'jeffrey']
print(dup_list)

['jeff', 'jeff', 'jeff', 'jeffrey']

In [5]:
names.remove('yi')
print(names)

names.discard('vincent')
print(names)

{'peter', 'winnie', 'vincent', 'grace', 'william', 'tom', 'jeff', 'joyce', 'tan'}
{'peter', 'winnie', 'grace', 'william', 'tom', 'jeff', 'joyce', 'tan'}

## Commonly used set methods

* ``intersection()``: returns common elements from both sets
* ``union()``: combines two or more sets and returns a new set;
* ``difference()``: returns elements only in the first set (orders matter here)

In [6]:
first_basket = {'banana', 'apple', 'durian'}
second_basket = {'papaya', 'mango', 'watermelon', 'banana', 'apple'}

# merge two sets into a new set
print(first_basket.union(second_basket))

# union doesn't change the original set
print(first_basket)

{'papaya', 'banana', 'watermelon', 'apple', 'mango', 'durian'}
{'durian', 'banana', 'apple'}

In [7]:
# extract the common elements from both sets
print(first_basket.intersection(second_basket))

{'banana', 'apple'}

In [8]:
# returns element only in the first set
print(first_basket.difference(second_basket))

# returns elements only in the second set
print(second_basket.difference(first_basket))

{'durian'}
{'papaya', 'watermelon', 'mango'}