# Data structures: Tuples

## Tuple characteristics

In [1]:
# create a tuple using parentheses ()
fruit = ('banana','papaya','durian', 'orange')
print(fruit)

print(type(fruit))

('banana', 'papaya', 'durian', 'orange')
<class 'tuple'>

In [2]:
# for a single element, 
# a comma is required to make the element a tuple.
is_tuple = (10,)
print(type(is_tuple))

# without the comma, the element with only the 
# parentheses does not make a tuple.
not_a_tuple = (10)
print(type(not_a_tuple))

<class 'tuple'>
<class 'int'>

In [3]:
# creates a tuple with the built-in tuple function
# converts a string into a tuple of characters
tuple_of_strings = tuple('pokemon')
tuple_of_strings

('p', 'o', 'k', 'e', 'm', 'o', 'n')

In [4]:
# A tuple can be empty without element
empty_tuple = ()
print(empty_tuple)

()

In [5]:
# heterogenenous tuple
mixed_tuple = (100, 'names', 300.2052)
mixed_type = (type(100), type('names'), type(300.2052))

print(mixed_tuple)
print(mixed_type)

# same as the creating the list, 
# when creating a tuple consists of different datatypes,
# the final datatype becomes a tuple.
print(type(mixed_type))

(100, 'names', 300.2052)
(<class 'int'>, <class 'str'>, <class 'float'>)
<class 'tuple'>

In [6]:
# non-unique
# a tuple can also contain duplicated elements
dup_tuple = ('jeff', 'jeff', 'jeff', 'jeffrey')
print(dup_tuple)

('jeff', 'jeff', 'jeff', 'jeffrey')

## Tuples indexing

In [7]:
names = ('jeff', 'tom', 'grace', 'joyce', 'tan', 'yi')
print(names)

# positive-index
print(names[0])

# negative-index
print(names[-1])

('jeff', 'tom', 'grace', 'joyce', 'tan', 'yi')
jeff
yi

## Tuples slicing

In [8]:
print(names[0:4:2])

('jeff', 'grace')

## Tuples are immutable!

We cannot add a new element or delete the element after creating the tuple. Tuples are useful when we want to create fixed and constant elements.

In [9]:
names.append('vincent')

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
names[-1] = 'peter'

TypeError: 'tuple' object does not support item assignment